<!DOCTYPE html>
<html lang="ko">
<style>
/* ===== font ===== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ===== setting ===== */
html{
    background-color: #f0f2f3;
}
header{
    padding: 10px 0 0 50px;
    font-family: 'IBMPlexSansKR-Regular';
    position: absolute;
}
button{
    position: absolute;
    font-family: 'IBMPlexSansKR-Regular';
    padding: 8px 10px;
    border-radius: 25px;
    border: 2px solid black;
    width: 100px;
    height: 50px;
    font-size: 17px;
    font-family: 'Giants-Bold';
    color: black;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

button:hover{
    background-color: black;
    color: white;
}

#sign-in{
    top: 18px;
    left: 1655px;  
}
#sign-up{
    top: 18px;
    left: 1770px;
}
#title{
    position: absolute;
    font-size: 30px;
    width: 150px;
    left: 80px;
    top: 0px;
}
main{
    padding: 0 0 100px 0;
    height: 670px;
}
#center{
    font-size: 60px;
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: 900;  
    position: absolute;
    top: 300px;
    left: 537px;
}
/*#bookmark-icon{
    position: absolute;
    top: 24px;
    left: 24px;
    border-radius: 10px;
    border: 10px solid #f0f2f3;
    background-color: #f0f2f3;
}
#bookmark-icon:hover {
    background-color: #646464;
    border: 10px solid #646464;
    transition: 0.7s;
}*/
#gift-icon{
    position: absolute;
    top: 480px;
    left: 880px;
}





#expand-menu { /* 체크박스 폼 요소 감춤 */
    display: none;
}
#expand-menu:checked ~ ul { /* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
    display: block;
    height: auto;
}
.menu {
    display: block;
    overflow: hidden;
    width: 240px;
    background-color: #f0f2f3;
    color: black;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -5px;
    margin-left: -40px;
    position: absolute;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 20px 12px;
    padding-top: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #646464;
    color: #000;
    border-radius: 10px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}
.menu #expand-menu:not(:checked) ~ ul { /* 데스크탑 화면에서도 메뉴를 접었더 펼칠 수 있음 */
    display: none;
}
.menu ::before {
    font-family: 'Material Icons';
    font-size: 2.1em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }

@media screen and (max-width:1023px) {
    .menu {
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}

.item{
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}
.LoginConfirmed {
    position: static;
    font-family: 'IBMPlexSansKR-Regular'; 
    margin-left: 1600px;
    color: rgb(0, 0, 0); /* 문구의 텍스트 색상 설정 */
    font-size: 18px; /* 문구의 글꼴 크기 설정 */
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 하루</title>
</head>
<body>
    <header>
        <div class="menu">
            <label for="expand-menu"></label><input type="checkbox" id="expand-menu" name="expand-menu">
            <ul>s
                <li><a href="#" class="item"><div>홈페이지 소개</div></a></li>
                <li><a href="#" class="item"><div>이달의 코스</div></a></li>
                <li><a href="http://localhost:3000/saveReview" class="item"><div>리뷰쓰기</div></a></li>
            </ul>
        </div>
        <h1 id="title">오늘의 하루</h1>
        <% if (username) { %>
          <p class="LoginConfirmed"><%= username %>님 반갑습니다.</p>
        <% } else { %>
          //이거 사실 필요 없음.
          <button id="sign-in" onclick="nextPage2()">Sign in</button>
          <button id="sign-up" onclick="nextPage3()">Sign up</button>
        <% } %>
    </header>
    <main>
        <h1 id="center"><%= nname %>님께 오늘의 하루를 선물합니다</h1>
        <img src="https://cdn-icons-png.flaticon.com/128/2420/2420548.png" id="gift-icon" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)" onclick="nextPage1()">
        
    </main>
    <script>
        function zoomIn(event) {
    document.getElementById("gift-icon").src = "https://cdn-icons-png.flaticon.com/128/2420/2420548.png"
    event.target.style.transform = "scale(1.2)";
    event.target.style.zIndex = 1;
    event.target.style.transition = "all 0.5s";
}
function zoomOut(event) {
    document.getElementById("gift-icon").src = "https://cdn-icons-png.flaticon.com/128/2420/2420548.png"
    event.target.style.transform = "scale(1)";
    event.target.style.zIndex = 0;
    event.target.style.transition = "all 0.5s";
}
function nextPage1() {
    location.href = 'http://localhost:3000/Step1';
}
function nextPage2() {
    location.href = 'http://localhost:3000/login';
}
function nextPage3() {
    location.href = "http://localhost:3000/signup";
}

    </script>
</body>
</html>