<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 하루</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div class="menu">
            <label for="expand-menu"></label><input type="checkbox" id="expand-menu" name="expand-menu">
            <ul>
                <li><a href="#" class="item"><div>홈페이지 소개</div></a></li>
                <li><a href="#" class="item"><div>이달의 코스</div></a></li>
                <li><a href="Review.html" class="item"><div>리뷰쓰기</div></a></li>
            </ul>
        </div>
        <h1 id="title">오늘의 하루</h1>
        <button id="sign-in" onclick="nextPage2()">Sign in</button>
        <button id="sign-up" onclick="nextPage3()">Sign up</button>
    </header>
    <main>
        <h1 id="center">당신에게 오늘의 하루를 선물합니다</h1>
        <img src="https://cdn-icons-png.flaticon.com/128/2420/2420548.png" id="gift-icon" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)" onclick="nextPage1()">
        
    </main>
    <script src="index.js"></script>
</body>
</html>
