/* ===== font ===== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ===== setting ===== */
html{
    background-color: #f0f2f3;
}
header{
    padding: 10px 0 0 50px;
    font-size: 18px;
    font-family: 'IBMPlexSansKR-Regular';
}
main{
    padding: 0 0 100px 0;
    height: 670px;
}
.container{
    width: 100%;
    max-width: 1800px;
    padding: 0 40px;
    margin: auto;
    position: relative;
}
.container img{
    display: block;
    width: auto;
}

.draggable.dragging {
    opacity: 0.5;
    }
/* .body {
    display: flex;
    }     */

/* ===== memo ===== */
.memo-wrap{
    position: absolute;
    background: #e7e7e7;
    width: 500px;
    height: 780px;
    border-radius: 10px;
    padding: 0;
    margin-left: 1280px;
    margin-top: -100px;
    border: 3px solid black;
    box-shadow: 5px 4px black;

    text-align: center;
    font-size: 20px;
    font-family: 'KyoboHandwriting2021sjy';
}
.selected-content{
    font-size: 24px;
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: bold;
    color: black;
    text-align: left;
    width: 400px;
    height: 45px;
    margin: 1px;
    transform: translate(-20px, 5px);
    background: #FFFCB0;
    border: #FFFCB0;
}
.memo-title-1{
    position: static;
    background: #feea6d;
    width: 110px;
    height: 40px;
    margin-left: 17px;
    border-radius: 10px 10px 0 0;
    border: 3px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-family: 'Giants-Bold';
}
.memo-article-1{
    position: static;
    background: #FFFCB0;
    width: 460px;
    height: 160px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 0 10px 10px 10px;
    border: 3px solid black;
}
.memo-title-2{
    position: static;
    background: #feea6d;
    width: 110px;
    height: 40px;
    margin-left: 17px;
    border-radius: 10px 10px 0 0;
    border: 3px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-family: 'Giants-Bold';
}
.memo-article-2{
    position: static;
    background: #FFFCB0;
    width: 460px;
    height: 160px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 0 10px 10px 10px;
    border: 3px solid black;
}
.memo-title-3{
    position: static;
    background: #feea6d;
    width: 110px;
    height: 40px;
    margin-left: 17px;
    border-radius: 10px 10px 0 0;
    border: 3px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-family: 'Giants-Bold';
}
.memo-article-3{
    position: static;
    background: #FFFCB0;
    width: 460px;
    height: 160px;
    margin: auto;
    border-radius: 0 10px 10px 10px;
    border: 3px solid black;
}


/* ===== button ===== */
.next{
    float: left;
    position: absolute;
    margin-right: 50px;
    padding: 8px 30px;
    border-radius: 30px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 20px;
    border: 3px solid black;
    box-shadow: 4px 3px black;

    font-size: 20px;
    font-family: 'Giants-Bold';
    color: black;
    background-color: rgb(248, 248, 248);

    transition-duration: 0.3s;
}
.next:active{
    box-shadow: none;
}

/* ===== search-bar ===== */
.search-bar{
    position: absolute;
    z-index: 2;

    font-size: 20px;
    font-family: 'IBMPlexSansKR-Regular';
}
h3{
    position: static;
}
input{
    width: 500px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 12px 12px;

    font-size: 18px;
    font-family: 'IBMPlexSansKR-Regular';
}
img{
    position : absolute;
    width: 5px;
    top: 127px;
    right: 20px;
    margin: 0;
}

/* ===== content-buttons ===== */
.content-buttons{
    position: absolute;

    font-size: 20px;
    font-family: 'IBMPlexSansKR-Regular';
}

.content-button{
    float: left;
    position: absolute;
    padding: 8px 10px;
    border-radius: 25px;
    border: 2px solid black;
    width: 150px;
    height: 60px;
    font-size: 25px;
    font-family: 'Giants-Bold';
    color: black;
    background-color: rgb(248, 248, 248);

    transition-duration: 0.3s;
}
#한식{
    left: 90px;
    top: 330px;
}
#양식{
    left: 270px;
    top: 330px;
}
#중식{
    left: 450px;
    top: 330px;
}
#일식{
    left: 630px;
    top: 330px;
}
#카페{
    left: 810px;
    top: 330px;
}
#패스트푸드{
    left: 990px;
    top: 330px;
}
#주류{
    left: 0px;
    top: 435px;
}
#숙박{
    left: 180px;
    top: 435px;
}
#체험{
    left: 360px;
    top: 435px;
}
#관람{
    left: 540px;
    top: 435px;
}
#액티비티{
    left: 720px;
    top: 435px;
}
#피씨방{
    left: 900px;
    top: 435px;
}
#노래방{
    left: 1080px;
    top: 435px;
}
#동남아시아{ 
    left: 90px;
    top: 540px;
}
#분식{
    left: 270px;
    top: 540px;
}
#디저트{
    left: 450px;
    top: 540px;
}
#사진{
    left: 630px;
    top: 540px;
}
#방탈출{
    left: 810px;
    top: 540px;
}
#보드게임{
    left: 990px;
    top: 540px;
}